*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
}
.left{
  width: 30%;
  height: 100%;
  position: absolute;
  left: 0;
  border-right: 0.1rem solid #c1c1c1;
}
.right{
  width: 70%;
  height: 100%;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.main{
  margin-top: 1vw;
  width: 100%;
  padding: 0 2vw;
}
.task-section{
  margin-top: 1vw;
  border: 1px solid #f1f1f1;
  height: 60vh;
  overflow: auto;
}
.task{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1vh;
  margin-bottom: 1rem;
  border-bottom: 1px solid #f1f1f1;
}
.line-strike{
  text-decoration: line-through;
}
.task-form{
  display: flex;
  gap: 2rem;
  margin: 2vh 0;
}
.primary-btn{
  color: blue;
  background-color: #fff;
  border: 2px solid blue;
}
.primary-btn:hover{
  color: #fff;
  background-color: blue;
}
.danger-btn{
  color: red;
  background-color: #fff;
  border: 2px solid red;
}
.danger-btn:hover{
  color: #fff;
  background-color: red;
}
.primary{
  color: blue;
}
.success{
  color: green;
}
.warning{
  color: rgb(255, 174, 0);
}
.task-count{
  display: flex;
  justify-content: space-between;
  margin: 2vh 0;
  font-size: 1.5rem;
  color: green;
}
.btn-group{
  display: flex;
  width: auto;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
}
.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 10%;
}
.btn:hover{
  cursor: pointer;
  font-weight: bold;
}
.disabled{
  opacity: 0.5;
  cursor: not-allowed !important;
}